*.cpp linguist-detectable=true
*.py linguist-detectable=true
*.c linguist-detectable=true
*.f linguist-detectable=false
*.f90 linguist-detectable=false
*.f95 linguist-detectable=false
*.f03 linguist-detectable=false
*.s linguist-detectable=true
*.asm linguist-detectable=true
*.S linguist-detectable=true
*.cmake linguist-detectable=false
